AnunciosLoc/src/main/resources/xsd/user2_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://user2.soap.xml"
	targetNamespace="http://user2.soap.xml"
	elementFormDefault="qualified"
>

  <!-- Definindo o tipo para o cabeçalho -->
  <xs:complexType name="HeaderType">
    <xs:sequence>
      <!-- Token de sessão -->
      <xs:element name="AuthToken" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Definição da requisição Logout" -->
  <xs:element name="LogoutRequest">
    <xs:complexType>
      <xs:sequence>
      <!-- Token de sessão -->
      <xs:element name="AuthToken" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Definition da request Validate de Session" -->
  <xs:element name="ValidateTokenRequest">
    <xs:complexType>
      <xs:sequence>
        <!-- Token de sessão -->
        <xs:element name="AuthToken" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Definition da request Validate de Session" -->
  <xs:element name="ValidateTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <!-- Token de sessão -->
        <xs:element name="estado" type="xs:boolean"/>
        <!-- mensagem do estado -->
        <xs:element name="mensagem" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Definição da requisição logout" -->
  <xs:element name="LoginRequest">
    <xs:complexType>
      <xs:sequence>
        <!-- email -->
        <xs:element name="email" type="xs:string" />
        <!-- password -->
        <xs:element name="password" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!-- Definição do elemento "user" -->
  <xs:element name="AddUserRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" type="tns:HeaderType" />
        <xs:element name="Body">
          <xs:complexType>
            <xs:sequence>
              <!-- email -->
              <xs:element name="email" type="xs:string" />
              <!-- password -->
              <xs:element name="password" type="xs:string" />
              <!-- nome -->
              <xs:element name="nome" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetUserRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" type="tns:HeaderType" />
        <xs:element name="Body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Id" type="xs:long" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="UserResponse">
    <xs:complexType>
      <xs:sequence>
        <!-- retorno da confirmação da inserção -->
        <xs:element name="estado" type="xs:boolean" />
        <!-- mensagem do estado -->
        <xs:element name="mensagem" type="xs:string" />
        <!-- código de estado -->
        <xs:element name="stateCode" type="xs:int" />
        <!-- id -->
        <xs:element name="id" type="xs:long" />
        <!-- email -->
        <xs:element name="email" type="xs:string" />
        <!-- nome -->
        <xs:element name="nome" type="xs:string" />
        <!-- token -->
        <xs:element name="token" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AllUsersRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" type="tns:HeaderType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="UserType">
    <xs:sequence>
      <!-- id -->
      <xs:element name="id" type="xs:long" />
      <!-- email -->
      <xs:element name="email" type="xs:string" />
      <!-- nome -->
      <xs:element name="nome" type="xs:string" />
      <!-- token -->
      <xs:element name="token" type="xs:string" />
    </xs:sequence>
  </xs:complexType>

  <!-- definition of user List -->
  <xs:element name="UserListResponse">
    <xs:complexType>
      <xs:sequence>
        <!-- retorno da confirmação da inserção -->
        <xs:element name="estado" type="xs:boolean" />
        <!-- mensagem do estado -->
        <xs:element name="mensagem" type="xs:string" />
        <!-- código de estado -->
        <xs:element name="stateCode" type="xs:int" />
        <xs:element name="user" type="tns:UserType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- definition of ciclista List -->
  <xs:element name="GetSaldoRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" type="tns:HeaderType" />
        <xs:element name="Body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ciclistaId" type="xs:long"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- definition of ciclista List -->
  <xs:element name="GetSaldoResponse">
    <xs:complexType>
      <xs:sequence>
        <!-- retorno da confirmação da inserção -->
        <xs:element name="estado" type="xs:boolean" />
        <!-- mensagem do estado -->
        <xs:element name="mensagem" type="xs:string" />
        <!-- código de estado -->
        <xs:element name="stateCode" type="xs:int" />
        <xs:element name="saldo" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="TransferPointsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" type="tns:HeaderType" />
        <xs:element name="Body">
          <xs:complexType>
            <xs:sequence>
              <!-- id of ciclista issuer of points-->
              <xs:element name="doadorId" type="xs:long" />
              <!-- mac-->
              <xs:element name="receptorId" type="xs:long" />
              <!-- points-->
              <xs:element name="points" type="xs:int" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
    </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="TransferPointsResponse">
    <xs:complexType>
    <xs:sequence>
        <!-- retorno da confirmação da inserção -->
        <xs:element name="estado" type="xs:boolean" />
        <!-- mensagem do estado -->
        <xs:element name="mensagem" type="xs:string" />
        <!-- código de estado -->
        <xs:element name="stateCode" type="xs:int" />
    </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>