projecto-aureo/Web-Service-Anuncios-Loc/src/main/resources/xsd/anuncio_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://anuncio.soap.xml"
    targetNamespace="http://anuncio.soap.xml"
    elementFormDefault="qualified"
>

    <!-- Definindo o tipo para o cabeçalho -->
    <xs:complexType name="HeaderType">
        <xs:sequence>
            <!-- Token de sessão -->
            <xs:element name="AuthToken" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Definition request AddAnuncio method -->
    <xs:element name="AddAnuncioRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Header" type="tns:HeaderType" />
                <xs:element name="Body">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titulo" type="xs:string" />
                            <xs:element name="descricao" type="xs:string" />
                            <xs:element name="autor" type="xs:long" />
                            <xs:element name="local" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Definition response AddAnuncio method -->
    <xs:element name="AddAnuncioResponse">
        <xs:complexType>
            <xs:sequence>
                <!-- id of anuncio -->
                <xs:element name="state" type="xs:boolean" />
                <!-- mensagem do estado -->
                <xs:element name="mensagem" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Definition of element "station" -->
    <xs:element name="GetAnuncioRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Header" type="tns:HeaderType" />
                <xs:element name="Body">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:long" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAnuncioResponse">
        <xs:complexType>
            <xs:sequence>
                <!-- retorno da confirmação da inserção -->
                <xs:element name="estado" type="xs:boolean" />
                <!-- mensagem do estado -->
                <xs:element name="mensagem" type="xs:string" />
                <!-- id -->
                <xs:element name="id" type="xs:long" />
                <xs:element name="titulo" type="xs:string" />
                <xs:element name="descricao" type="xs:string" />
                <xs:element name="autor" type="xs:long" />
                <xs:element name="local" type="xs:string" />

                <!-- dados de autor -->
                <!-- nome -->
                <xs:element name="nomeAutor" type="xs:string" />
                <!-- telefone -->
                <xs:element name="telefoneAutor" type="xs:string" />

                <!-- dados de local -->
                <!-- nome do local -->
                <xs:element name="localName" type="xs:string" />
                <!-- latitude -->
                <xs:element name="latitude" type="xs:float" />
                <!-- longitude -->
                <xs:element name="longitude" type="xs:float" />
                <!-- raio -->
                <xs:element name="raio" type="xs:float" />
            <!-- distancia -->
            <xs:element name="distancia" type="xs:float" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Definition request deleteAnuncio method -->
    <xs:element name="DeleteAnuncioRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Header" type="tns:HeaderType" />
                <xs:element name="Body">
                    <xs:complexType>
                        <xs:sequence>
                            <!-- id of anuncio -->
                            <xs:element name="id" type="xs:long" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Definition response deleteAnuncio method -->
    <xs:element name="DeleteAnuncioResponse">
        <xs:complexType>
            <xs:sequence>
                <!-- id of Anuncio -->
                <xs:element name="state" type="xs:boolean" />
                <!-- mensagem do estado -->
                <xs:element name="mensagem" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AllAnunciosRequest">
        <xs:complexType>
        <xs:sequence>
            <xs:element name="Header" type="tns:HeaderType" />
        </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AllAnunciosProximosRequest">
        <xs:complexType>
        <xs:sequence>
            <xs:element name="Header" type="tns:HeaderType" />
            <xs:element name="Body">
                <xs:complexType>
                    <xs:sequence>
                        <!-- latitude -->
                        <xs:element name="latitude" type="xs:float" />
                        <!-- longitude -->
                        <xs:element name="longitude" type="xs:float" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="AnuncioType">
        <xs:sequence>
            <xs:element name="id" type="xs:long" />
            <xs:element name="titulo" type="xs:string" />
            <xs:element name="descricao" type="xs:string" />
            <xs:element name="autor" type="xs:long" />
            <xs:element name="local" type="xs:string" />

            <!-- dados de autor -->
            <!-- nome -->
            <xs:element name="nomeAutor" type="xs:string" />
            <!-- telefone -->
            <xs:element name="telefoneAutor" type="xs:string" />

            <!-- dados de local -->
            <!-- nome do local -->
            <xs:element name="localName" type="xs:string" />
            <!-- latitude -->
            <xs:element name="latitude" type="xs:float" />
            <!-- longitude -->
            <xs:element name="longitude" type="xs:float" />
            <!-- raio -->
            <xs:element name="raio" type="xs:float" />
            <!-- distancia -->
            <xs:element name="distancia" type="xs:float" />
        </xs:sequence>
    </xs:complexType>

    <!-- definition of user List -->
    <xs:element name="ListAnuncioResponse">
        <xs:complexType>
            <xs:sequence>
                <!-- retorno da confirmação da inserção -->
                <xs:element name="estado" type="xs:boolean" />
                <!-- mensagem do estado -->
                <xs:element name="mensagem" type="xs:string" />
                <xs:element name="anuncio" type="tns:AnuncioType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
