projecto-aureo/Web-Service-Anuncios-Loc/src/main/resources/xsd/infra_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://infra.soap.xml"
    targetNamespace="http://infra.soap.xml"
    elementFormDefault="qualified"
>

    <!-- Definindo o tipo para o cabeçalho -->
    <xs:complexType name="HeaderType">
        <xs:sequence>
            <!-- Token de sessão -->
            <xs:element name="AuthToken" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="AddInfraRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Header" type="tns:HeaderType" />
          </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Definition of type "geoLocation" -->
    <xs:complexType name="GeoLocationType">
        <xs:sequence>
            <!-- pais -->
            <xs:element name="pais" type="xs:string" />
            <!-- provincia -->
            <xs:element name="provincia" type="xs:string" />
            <!-- municipio -->
            <xs:element name="municipio" type="xs:string" />
            <!-- distrito -->
            <xs:element name="distrito" type="xs:string" />
            <!-- avenida -->
            <xs:element name="avenida" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <!-- Definition of element "station" -->
    <xs:element name="GetInfraDetailsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Header" type="tns:HeaderType" />
                <xs:element name="Body">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:long" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="InfraResponse">
        <xs:complexType>
            <xs:sequence>
                <!-- retorno da confirmação da inserção -->
                <xs:element name="estado" type="xs:boolean" />
                <!-- mensagem do estado -->
                <xs:element name="mensagem" type="xs:string" />
                <!-- código de estado -->
                <xs:element name="stateCode" type="xs:int" />
                <!-- id -->
                <xs:element name="id" type="xs:long" />
                <!-- email -->
                <xs:element name="name" type="xs:string" />
                <!-- bonus value of station -->
                <xs:element name="bonus" type="xs:int" />
                <!-- nome do local -->
                <xs:element name="localName" type="xs:string" />
                <!-- pais -->
                <xs:element name="pais" type="xs:string" />
                <!-- provincia -->
                <xs:element name="provincia" type="xs:string" />
                <!-- municipio -->
                <xs:element name="municipio" type="xs:string" />
                <!-- distrito -->
                <xs:element name="distrito" type="xs:string" />
                <!-- avenida -->
                <xs:element name="avenida" type="xs:string" />
                <!-- quantidade de latitude -->
                <xs:element name="latitude" type="xs:float" />
                <!-- quantidade de longitude -->
                <xs:element name="longitude" type="xs:float" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetInfraDetailsResponse">
        <xs:complexType>
            <xs:sequence>
                <!-- retorno da confirmação da inserção -->
                <xs:element name="estado" type="xs:boolean" />
                <!-- mensagem do estado -->
                <xs:element name="mensagem" type="xs:string" />
                <!-- código de estado -->
                <xs:element name="stateCode" type="xs:int" />
                <!-- id -->
                <xs:element name="id" type="xs:long" />
                <!-- email -->
                <xs:element name="name" type="xs:string" />
                <!-- bonus value of station -->
                <xs:element name="bonus" type="xs:int" />
                <!-- quantidade de nome do local -->
                <xs:element name="localName" type="xs:string" />
                <!-- pais -->
                <xs:element name="pais" type="xs:string" />
                <!-- provincia -->
                <xs:element name="provincia" type="xs:string" />
                <!-- municipio -->
                <xs:element name="municipio" type="xs:string" />
                <!-- distrito -->
                <xs:element name="distrito" type="xs:string" />
                <!-- avenida -->
                <xs:element name="avenida" type="xs:string" />
                <!-- quantidade de latitude -->
                <xs:element name="latitude" type="xs:float" />
                <!-- quantidade de longitude -->
                <xs:element name="longitude" type="xs:float" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Definition of all elements "station" -->
    <xs:element name="AllInfraRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Header" type="tns:HeaderType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Definition of all elements "station more proxime" -->
    <xs:element name="AllInfraMoreProximeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Header" type="tns:HeaderType" />
                <xs:element name="Body">
                  <xs:complexType>
                    <xs:sequence>
                      <!-- id of ciclista down Bike -->
                      <xs:element name="latitude" type="xs:double" />
                      <!-- reference of dock modified -->
                      <xs:element name="longitude" type="xs:double" />
                      <!-- info-Beacon of the Bike -->
                      <xs:element name="radius" type="xs:double" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Definition of type "station" response -->
    <xs:complexType name="InfraType">
        <xs:sequence>
            <!-- id -->
            <xs:element name="id" type="xs:long" />
            <!-- station's name -->
            <xs:element name="name" type="xs:string" />
            <!-- bonus value of station -->
            <xs:element name="bonus" type="xs:int" />
            <!-- nome do local -->
            <xs:element name="localName" type="xs:string" />
            <!-- pais -->
            <xs:element name="pais" type="xs:string" />
            <!-- provincia -->
            <xs:element name="provincia" type="xs:string" />
            <!-- municipio -->
            <xs:element name="municipio" type="xs:string" />
            <!-- distrito -->
            <xs:element name="distrito" type="xs:string" />
            <!-- avenida -->
            <xs:element name="avenida" type="xs:string" />
            <!-- latitude -->
            <xs:element name="latitude" type="xs:float" />
            <!-- longitude -->
            <xs:element name="longitude" type="xs:float" />
            <!-- distância -->
            <xs:element name="distancia" type="xs:int" />
        </xs:sequence>
    </xs:complexType>

    <!-- Definition of all elements "station" response -->
    <xs:element name="AllInfraResponse">
        <xs:complexType>
            <xs:sequence>
                <!-- retorno da confirmação da inserção -->
                <xs:element name="estado" type="xs:boolean" />
                <!-- mensagem do estado -->
                <xs:element name="mensagem" type="xs:string" />
                <!-- código de estado -->
                <xs:element name="stateCode" type="xs:int" />
                <!-- retorno da lista de todas as estações -->
                <xs:element name="infra" type="tns:InfraType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="TestInfraRequest">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="Header" type="tns:HeaderType" />
          <xs:element name="Body">
            <xs:complexType>
              <xs:sequence>
                <!-- id of Station -->
                <xs:element name="id" type="xs:long" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:element>

    <xs:element name="TestInfraResponse">
        <xs:complexType>
            <xs:sequence>
                <!-- id of dock -->
                <xs:element name="estado" type="xs:boolean" />
                <!-- mensagem do estado -->
                <xs:element name="mensagem" type="xs:string" />
                <!-- código de estado -->
                <xs:element name="stateCode" type="xs:int" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
